---
import type {
    BaseFeedItem,
    PostFeedItem,
    ProjectEntryFeedItem,
} from "../../lib/feed-builder";

import TextBlock from "../blocks/TextBlock.astro";
import ImageBlock from "../blocks/ImageBlock.astro";
import VideoBlock from "../blocks/VideoBlock.astro";
import GalleryBlock from "../blocks/GalleryBlock.astro";

interface Props {
    item: BaseFeedItem;
}

const { item } = Astro.props;

let href: string;

if (item.type === "post") {
    href = `/posts/${(item as PostFeedItem).slug}`;
} else {
    const projectItem = item as ProjectEntryFeedItem;
    href = `/projects/${projectItem.projectSlug}#${projectItem.entryId}`;
}
---

<article class="feed-item">
    <a href={href} class="feed-item-link">
        {
            item.blocks.map((block) => {
                switch (block.type) {
                    case "text":
                        return <TextBlock block={block} />;
                    case "image":
                        return <ImageBlock block={block} />;
                    case "video":
                        return <VideoBlock block={block} />;
                    case "gallery":
                        return <GalleryBlock block={block} />;
                    default:
                        return null;
                }
            })
        }
    </a>
</article>
